<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#each blogs}}
        <div class="post-preview">
          <a href="post/{{_id}}">
            <h2 class="post-title">
              {{title}}
            </h2>
            <h3 class="post-subtitle">
              {{excerpt content}}
            </h3>
          </a>
          <p class="post-meta">Posted by {{author}} on {{moment createDate}}</p>
        </div>
        <hr>
      {{/each}}


      <!-- Pager -->
      <ul class="pager" page="{{page}}">

        <li class="previous" {{#equal page 1}} style="visibility:hidden" {{/equal}}>
          <a href="?page={{minus page 1}}">Newer Posts &larr;</a>
        </li>
        <li>{{page}} / {{last}}</li>
        <li class="next" {{#equal page last}} style="visibility:hidden" {{/equal}}>
          <a href="?page={{plus page 1}}">Older Posts &rarr;</a>
        </li>

      </ul>
    </div>
  </div>
</div>

<hr>