<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#each blogs}}
        <div class="post-preview">
          <a href="post/{{_id}}">
            <h2 class="post-title">
              {{title}}
            </h2>
          </a>
          <p class="post-meta">Posted by <a href="#">{{author}}</a> on {{moment createDate}}</p>
        </div>
        <hr>
      {{/each}}
      <!-- Pager -->
      <ul class="pager" page="{{page}}">
        {{#equal page 1}}
        <li class="previous" style="display:none">
        {{else}}
        <li class="previous">
        {{/equal}}
          <a href="?page={{minus page 1}}">Newer Posts &larr;</a>
        </li>
        <li class="next">
          <a href="?page={{plus page 1}}">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>
